// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 167%;
  color: $titleColor;
  @media (max-width: $breakpoint992) {
   font-size: 36px;
   line-height: 222%;
}
}