.section__pricing {
  margin-top: 220px;

  @media (max-width: $breakpoint992) {
    margin-top: 125px;
  }

  @media (max-width: $breakpoint768) {
    margin-top: 80px;
  }
}

.pricing {

  // .pricing__inner

  &__inner {}

  // .pricing__title

  &__title {
    text-align: center;
  }

  // .pricing__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    column-gap: 50px;
    align-content: space-between;

    @media (max-width: $breakpoint992) {
      column-gap: 30px
    }

    @media (max-width: $breakpoint768) {
      column-gap: 15px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      justify-content: center;
      align-content: center;
    }

  }

  // .pricing__item

  &__item {
    display: grid;
    grid-template-rows: auto 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

  }

  &__item-body {
    display: grid;
    grid-template-rows: auto 1fr;

    @media (max-width: 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  // .pricing__img

  &__img {
    @media (max-width: 600px){
      text-align: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }


  }

  // .pricing__item-title

  &__item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: $titleColor;
    margin-bottom: 15px;

    @media (max-width: $breakpoint992) {
      font-size: 22px;
      line-height: 155%;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
      line-height: 140%;
    }
    @media (max-width: 600px){
      text-align: center;
    }
  }

  // .pricing__text

  &__text {
    font-size: 20px;
    line-height: 150%;
    color: $textColor;
    margin-bottom: 30px;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
    @media (max-width: 600px){
      text-align: center;
    }

  }

  // .pricing__item-price

  &__item-price {
    background: #EEEEEE;
    border-radius: 5px;
    width: fit-content;
    padding: 0 20px;

    span {
      font-size: 30px;
      line-height: 150%;
      color: $titleColor;

      @media (max-width: $breakpoint992) {
        font-size: 24px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 22px;
      }
    }

    p {
      font-size: 18px;
      line-height: 150%;
      color: $textColor;

      @media (max-width: $breakpoint992) {
        font-size: 16px;
      }

    }
    @media (max-width: 600px){
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
  }
}